html {
    /* font-size: 10px; */
  
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;
  
    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffed;
    font-family: "Rubik", sans-serif;
  }
  
  h1 {
    margin-top: 10px;
    font-size: 36px;
    color: #555;
  }
  
  #board {
    width: 300px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    outline: none;
    background-color: transparent;
    border: none;
  }
  
  .cell {
    width: calc(33.333% - 1px);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
    position: relative;
    background-color: transparent;
  }
  
  .cell:not(:nth-child(3n)) {
    border-right: 5px solid rgb(68, 220, 93);
    margin-right: -5px;
  }
  
  .cell:not(:nth-last-child(-n + 3)) {
    border-bottom: 5px solid rgb(68, 220, 93);
    margin-bottom: -5px;
  }
  
  .cell.X {
    color: var(--player1-color);
  }
  
  .cell.O {
    color: var(--player2-color);
  }
  
  #scoreboard {
    margin-top: 20px;
  }
  
  #scoreboard h2 {
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    font-size: 28px;
    color: #555;
  }
  
  #scoreboard div {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  #scoreboard span {
    font-size: 25px;
  }
  
  .playerone {
    padding: 2rem 2rem 2rem 2rem;
    color: #555555;
    background-color: rgb(51, 247, 247);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .playertwo {
    padding: 2rem 2rem 2rem 2rem;
    color: #555555;
    background-color: rgb(212, 145, 228);
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
@media  (max-width: 500px) {
    #scoreboard span {
        font-size: 15px;
    }
}
  
